@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
h1  {
    font-family: Shadows Into Light;
    font-size: 50px;
    margin: 0;
}

nav {

    padding: 30px;

    position: fixed;
    left:0;
    top:0;
    right:0;
    min-height: 85px;
    max-height: 85px;
    z-index: 50;

    background: rgb(255, 208, 0);
}

body{
    margin: 0;
}

div.left{
    vertical-align: top;
    margin: 160px 10px 15px 15px;

    z-index: 1;

    display: inline-block;

    background: rgb(18, 95, 49);
    
    width: 200px;
    height: 400px;
}

div.right{
    position: relative; 

    vertical-align: top;
    margin-top: 160px;
    
    width: Calc(100% - 250px);
    height: 700px;

    z-index: 1;

    display: inline-block;

    background: rgb(3, 40, 119);
    overflow: hidden;
}

div.child{
    position: relative;
    float: right;
    right: 15px;
    top: 20px;

    z-index: 2;

    background: rgb(157, 179, 197);

    width: 33%;
    min-height: 160px;
}

footer{
    box-sizing: border-box;
    width: 100%;
 

    margin-top: 20px;

    height: 30px;
    z-index: 20;
    
    background: rgb(117, 47, 6);
}