body{
    margin: 0;
    padding-top: 80px;
}

nav{
    background: yellow;
    position: fixed;
    height: 50px;
    width:100%;
    z-index: 10;
    top: 0;
    left: 0;
}

.box{
float: left;
}

.left{
    box-sizing: border-box;
    width: 20%;
    padding-right: 30px;
}

.left .bkg1{
    height: 500px;
    background: teal;
    width: 100%;
}

.right{
    width: 80%;
}

.right .bkg2{
    position: relative;
    height: 1600px;
    background: blue;
    width: 100%;
}

.right .bkg2 .enfant{
    z-index: 999;
    position: absolute;
    top: 30px;
    right:30px;
    background: lightblue;
    width: 50px;
    height: 50px;
}

.clearfix{
    clear: both;
}

footer{
    background: brown;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}