@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

p {
    font-family: 'Shadows Into Light';
    font-size: 50px;
    background: green;
    display: inline-block;
    margin: 10px;
    /* min-height: 50px; */
    /* width: 50%; */
    padding: 40px;
    border: 20px lightsalmon;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 20px 20px 2px 2px brown;
}

/* 

height et width fonctionnent pas avec inline, le display doit 
etre inline block ou block
Ils héritent de leur parent dans le cas de pourcentages. 

min-height est pratique en responsive, une hauteur mminimum est là, 
et si on diminue la fenetre elle augmente.

!!!!!!!!!!!!!
overflow: hidden; cache le texte qui dépasse
overflow: scroll; permet de défiler le texte, + x ou y axis
!!!!!!!!!!!!!

border: 5px dashed ou solid color;
border-width, -style: dotted; - color;, -bottom-color;
border-radius: 20px; arrondi les côtés de la bordure, oooooh !

float: left; accole les éléments à gauche (par exemple dans inline-block, les éléments ont des espaces entre eux en horizontal.
float: right; va accoler l'élément sur la droite.
clear: both; annule le float left et right, et donc détache les éléments alignés en horizontal.

<a> est par défaut inline, pour le styliser, il faut le mettre en inline-block ou block.

box-sizing: border-box;     donne la taille du box totale en se référant à height et width ---> width: 100%; donne toute la longueur de la fenetre.

position: absolute;     court-circuite la position du parent - devient indépendante
-> top: 50 px;      à 50px du top
-> right: 20 px;        à 20px de la droite.

position: fixed;        fixe une fenetre à une position de l'écran -> permet de scroller en gardant une fenetre à une position
---> z-index est réglable vie z-index: x;       plus x est grand, plus il est devant.
---> top:0; left:0; right:0;        onglet fixe en haut de l'écran.



*/