@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');

p {
    background: yellow; 
    font-size: 36px;

    font-family: 'Shadows Into Light';
    font-weight: bold;
    /* représente l'interligne    */
}










/*
div p {
    background: green;
}

div p .bkg {
    différent -> dans div, puis dans p, les éléments ayant la class "bkg"
    background: green;
}*/

