html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 100%;
}

body{
    padding: 0;
    margin: 0;
    height: 100%;
}

nav {
    background: #29487d;
    height: 100px;
    color: white;
    /* box-shadow: 30px 30px 30px 3px; */
}

.login{
    /* display: inline-block; */
    float: right;
    padding: 5px 10px;
}

#submit{
    padding: 25px 0 0;
}

.log{
    box-sizing: border-box;
    vertical-align: middle;
    padding: 20px 150px 0;
}

.container{
    width: 100%;
    height: 100%;
    background-color: #e9ebee;
    
}

.right{
    float: right;
    padding: 30px;
    background: #e9ebee;
    
}