@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body{
    margin:0;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 3px 10px rgb(58, 58, 58);

}

nav img{
    width: 30%;
    max-width: 200px;
    float: left;
}

nav ul{
    float: left;
    padding-top: 7%;
    padding-bottom: 7%;

    padding-left: 0;
    max-height: 100px;
    width:70%;
}

nav ul li{
    margin: 0;
    width: 30%;
    display: inline-block;
    text-align: center;
}

a.mail{
    text-decoration: none;
    color: rgb(18, 167, 105);
}

a.buttons{
    color: rgb(41, 34, 33);  
    z-index: 50;
    display: inline;
    background-color: white;
    margin: 40px 15px;
    padding: 10px;
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(21, 173, 161);
    text-decoration: none; 
}

a.buttons:hover {
    font-weight: bold;
    box-shadow: 9px 6px 15px rgb(176, 219, 205);
    z-index: 999;
}

a.buttons:active{
    border: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    box-sizing: border-box;
}

div.content{
    margin-top: 180px;
    margin-left: 50px;
    margin-right: 50px;
}

body{
    background: #e5f0e9;
    font-family: Roboto;
}

h2{
    text-align: center;
}

h3{
    margin-top: 40px;
}

ul{
    list-style-type: none;

}

ul.trainees li{
    background-color: white;
    width: 40%;
    min-width: 100px;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

ul.trainees li:nth-child(even){
    background-color: beige;
}

table{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    border-spacing: 0px;
    text-align: center;

    margin-bottom: 100px;
}

table tr th{
    padding: 15px 40px;
}

tbody tr:nth-child(odd){
    background-color: rgb(0, 90, 90);
    color: white;
}

footer{
    width: 100%;
    background-color: rgb(78, 78, 78);
    padding: 20px 0 10px;
}

footer p {
    color: rgb(176, 219, 205);
    font-weight: normal;
    margin-left: 20px;
}

footer ul{
    width: 30%;

}

footer ul li{
    margin: 15px;
    padding: 5px 0 5px 15px;
    background-color: rgb(240, 255, 250);
    border-radius: 5px;
}