body{
    margin: 0;
    width: 50%;
    height: 50%;
}

canvas{
    width: 50%;
    height: 50%;
}

#info{
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    z-index: 100;
    display: block;
    color: white;
    font-size: 80px;
    font-family: fantasy;
}