
/* FONTS */
h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin: 8px;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    margin: 8px;
}

/* NAV */
nav{
    position: fixed;
    left:0;
    top:0;
    right:0;
    height: 60px;
    background-color: rgb(34, 34, 34);
}

nav a.logo{
    float: left;
}

img#logo{
        width: 50px;
        height: 50px;
        margin: 5px 5px 5px 30px;
}

nav div.links{
    float: right;
}

nav div.links a img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

nav div.links{
    margin: 10px 30px;
}

body{
    background-color: rgb(233, 233, 233);
}

header{
    margin: 90px 45px;
}


/* UPPER */
header div.upper{
    background-color: white;
    width: 100%;
    height: 200px;
    /* overflow: hidden; */
}

.upbox{
    padding: 40px;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

.img-content{
    width: 150px;
    height: 150px;
    box-sizing: border-box;
    border-radius: 100px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
}
.img-content img{
    width: 100%;
    height: 100%;
    border-radius: 200px;

}

.content{
    display: inline-block;
    vertical-align: middle;
    margin-left: 30px;
    box-sizing: border-box;
    width: 60%;
    margin-bottom: 50px;
}


/* LOW */
div.lower{
    margin-top: 20px;
}



/* LEFT */
div.lower div.left{
    float: left;
    width: 48%;
}

div.lower div.left div.info{
    background-color: white;
    height: 300px;
}



/* RIGHT */
div.lower div.right{
    width: 48%;
    float: right;
}

div.lower div.right div{
    background-color: white;
    height: 100px;
    margin-bottom: 20px ;
}