@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,200,300,400');

body{
    margin: 0;
    box-sizing: border-box;
    background: rgb(255, 255, 255);
}
html{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}
.intro{
    z-index: -5;
}

#myName{
    padding-bottom: 0;
    z-index: -5;    
}

.intro h1{
    font-weight: 300;
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
    font-size: 26px;
    z-index: -5;    
}

.intro h2{
    font-weight: 100;
    font-family: 'Fira Sans', sans-serif;  
    margin: 0;  
    font-size: 38px;
    z-index: -5;
}

a:link{
    text-decoration: none;
    -webkit-transition: text-decoration 2s;
    transition: text-decoration 2s;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:active{
    text-decoration: none;
    color: black;
}
a:hover{
    -webkit-animation-name: hoverAnim; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-name: hoverAnim;
    animation-duration: 0.5s;
}
@-webkit-keyframes hoverAnim {
    0% {-webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
        font-size: 24px;
    }
    25% {-webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
        font-size: 19px;
    }
    100%{
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
        font-size: 24px;
    }
}

@keyframes hoverAnim {
    0% {-webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
        font-size: 24px;
    }
    25% {-webkit-filter: blur(1px);
        -moz-filter: blur(1px);
        -o-filter: blur(1px);
        -ms-filter: blur(1px);
        filter: blur(1px);
        font-size: 19px;
    }
    100%{
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
        font-size: 24px;
    }
}

.intro{
    box-sizing: border-box;
    vertical-align: middle;
    width: 100%;

    padding: 0;
    text-align: center;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.element{
    display: block;
    padding: 17px 0;
}
.intro h1{
    padding-top: 20px;
}
.intro h2{
    padding-bottom: 20px;
}
.menu{
    font-weight: 200;
    font-size: 26px;
}

table{
    margin-left:auto; 
    margin-right:auto;
    border-spacing: 0;
}
table a{
    z-index: 90000;
}

td{
    padding: 0 20px;
}

td.line{
    margin: 0 15px;
    padding: 0;
    width: 1px;
    background: rgb(173, 173, 173);
}

.stripe{
    margin-top: 50px;
    padding: 0;
    background-image: url("../img/background.png");
    background-size: contain;
}
#pictures{
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding: 20px 30px;
}
.slot{
    background: black;
    height: 150px;
    width: 100%;
    display: inline-block;
    box-sizing: border-box;
    margin: 2px;

    cursor: pointer;
    transition: 0.7s;
}
.slot:hover{
    opacity: 0.75;
    
}

.modal{
    display: none;
    position: fixed;
    padding-top: 100px;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.95);
}
.modalContent{
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
}



@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.anim{

    width: 100%;
    height: 0px;
}
.shape{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -50;
}
.shape img{
    width: 30px;
}

#cube0{
    animation-name: moveBox2;
    animation-duration: 5s;
    animation-iteration-count:infinite;
}
#cube1{
    animation-name: moveBox;
    animation-duration: 1s;
    animation-delay: 300ms;
    animation-iteration-count:infinite;
}
#cube2{
    animation-name: moveBox2;
    animation-duration: 2s;
    animation-delay: 300ms;
    animation-iteration-count:infinite;
}
#cube3{
    animation-name: moveBox;
    animation-duration: 1s;
    animation-delay: 600ms;
    animation-iteration-count:infinite;
}
#cube4{
    animation-name: moveBox2;
    animation-duration: 3s;
    animation-delay: 500ms;
    animation-iteration-count:infinite;
}#cube5{
    animation-name: moveBox;
    animation-duration: 3s;
    animation-delay: 900ms;
    animation-iteration-count:infinite;
}
#tri0{
    animation-name: moveBox2;
    animation-duration: 3s;
    animation-delay: 900ms;
    animation-iteration-count:infinite;
}
#tri1{
    animation-name: moveBox2;
    animation-duration: 1s;
    animation-delay: 500ms;
    animation-iteration-count:infinite;
}
#tri2{
    animation-name: moveBox2;
    animation-duration: 3s;
    animation-delay: 100ms;
    animation-iteration-count:infinite;
}
#tri3{
    animation-name: moveBox;
    animation-duration: 2s;
    animation-delay: 600ms;
    animation-iteration-count:infinite;
}
#tri4{
    animation-name: moveBox2;
    animation-duration: 3s;
    animation-delay: 300ms;
    animation-iteration-count:infinite;
}
#tri5{
    animation-name: moveBox;
    animation-duration: 5s;
    animation-delay: 900ms;
    animation-iteration-count:infinite;
}


@keyframes moveBox {
    0%   {left:0; bottom: 0;}
    30%  {left:10%; bottom: 40%;}
    75% {left:80%; bottom: 300px;}
    100% {left:1500px; bottom: 700px;}
}
@keyframes moveBox2 {
    0%   {left:0; bottom: 0;}
    30%  {left:15%; bottom: 200px;}
    75% {left:80%; bottom: 400px;}
    100% {left:1500px; bottom: 1000px;}
}


@media only screen and (min-width: 460px) {
    .stripe{
        padding: 20px 0;
        background-image: url("../img/background.png");
        background-size: contain;    
        overflow: hidden;
        
    }
    #pictures{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 50px 30px;
        position: relative;
        text-align: center;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;   
        overflow: hidden;
        
    }
    .slot{
        background: black;
        height: 150px;
        width: 47%;
        display: inline-block;
        box-sizing: border-box;
        
        margin: 2px;
    }  
    .modal-content {
        width: 100%;
    }

    
}

@media only screen and (min-width: 660px) {
    .stripe{
        padding: 20px 0;
        background-image: url("../img/background.png");
        background-size: cover;
    }
    #pictures{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        padding: 50px 30px;
        position: relative;
        text-align: center;
    }
    .slot{
        background: black;
        height: 150px;
        width: 30%;

        display: inline-block;
        box-sizing: border-box;
        
        margin: 2px;
    }  

}

@media only screen and (min-width: 1024px) {
    .stripe{
    padding: 20px 0;
    background-image: url("../img/background.png");
    background-size: cover;
    }
    #pictures{
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        padding: 50px 30px;
        position: relative;
        text-align: center;
    }
    .slot{
        background: black;
        height: 150px;
        width: 30%;

        display: inline-block;
        box-sizing: border-box;
        
        margin: 2px;
    }  
    .slot:hover{
        opacity: 0.75;
        width: 190px;;
    }
}