body{
    background: lightgray;

}

nav{
    background: white;
}

.container-fluid{
    background-color: white;
    border-radius: 15px;
}

[class*="col-"] {
    background: rgb(252, 248, 245);
    border-radius: 15px;
}

.row{
    border-radius: 100px;

}

.nav-link{
    margin: 15px;
}

.align-top{
    margin-right: 10px;
}

.box{
    margin: 15px;
}

.colonne{
    margin: 15px;
}