/* FONTS */
h1{
    color: rgb(182, 215, 221);
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
    font-size: 40px;
    margin: 0 0 15px;
}

h1.space{
    font-size: 25px;    
    margin: 0 0 15px 80px;
}

h2{
    color: rgb(182, 215, 221);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 12px;
    margin: 0;
}


h3{
    color: rgb(182, 215, 221);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 25px;
    font-weight: normal;
    margin-top: 40px;
    margin-bottom: 0px;
}

body{
    background: rgb(14, 21, 29);
    margin: 0;
}

a{
    text-decoration: none;
}

nav{
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: center;
}

nav .logobox{
    vertical-align: middle;
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
}

nav .logo{
    width: 60px;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    padding-top: 5px;
}

.topleft{
    float: left;

}

.topright{
    float: right;

}

nav ul{
    box-sizing: border-box;
    list-style: none;
    padding: 30px 3px;
    margin: 0;
    vertical-align: center;
}

nav ul li{
    display: inline-block;
    vertical-align: center;
    padding: 0 5px;
}

/* nav h2{
    font-size: 15px;
} */

/* HEADER */
header{
    width: 100%;
    height: 40%;
    margin-top: 100px;
}

.box{
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding: 20px 15px 10px;
    text-align: center;
}

.middle{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    padding: 20px 10px;
}

.projects{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 300px;
    padding: 20px;
}

.projects a{
    color: rgba(154, 202, 211, 0.377);

}

.project{
    box-sizing: border-box;
    height: 100%;
    width: 100%;    
    border-radius: 10px;
    border: 3px solid rgb(40, 68, 78);
    box-shadow: 0 0 15px 3px;
}

#p1{
    background-image: url("../img/thebreaker.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}


/* BREAKPOINT 1 */
@media screen and (min-width: 767px){

/* FONTS */
h1{
    color: rgb(182, 215, 221);
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
    font-size: 50px;
    margin: 0 0 15px;
}

h1.space{
    font-size: 35px;    
    margin: 0 0 15px 120px;
}

h2{
    color: rgb(182, 215, 221);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
    margin: 0;
}

body{
    background: rgb(14, 21, 29);
    margin: 0;
}

a{
    text-decoration: none;
}

nav{
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: center;
}

nav .logobox{
    vertical-align: center;
    box-sizing: border-box;
    height: 100%;
}

nav .logo{
    width: 85px;
    height: auto;
    vertical-align: middle;
}

.topleft{
    float: left;
}

.topright{
    float: right;
}

nav ul{
    list-style: none;
    padding: 30px 10px;
}

nav ul li{
    display: inline-block;
    }


/* HEADER */
header{
    width: 100%;
    height: 40%;
    margin-top: 100px;
}

.box{
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding: 50px 50px;
    text-align: center;
}

.middle{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    padding: 20px 50px;
}

.projects{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 300px;
    padding: 20px;
}

.projects a{
    color: rgba(154, 202, 211, 0.377);

}

.project{
    box-sizing: border-box;
    height: 100%;
    width: 100%;    
    border-radius: 10px;
    border: 3px solid rgb(40, 68, 78);
    box-shadow: 0 0 15px 3px;
}

#p1{
    background-image: url("../img/thebreaker.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}

}




/* BREAKPOINT 2 */
@media screen and (min-width: 997px){
    
/* FONTS */
h1{
    color: rgb(182, 215, 221);
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
    font-size: 50px;
    margin: 0 0 15px;
}

h1.space{
    font-size: 35px;    
    margin: 0 0 15px 120px;
}

h2{
    color: rgb(182, 215, 221);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
    margin: 0;
}

body{
    background: rgb(14, 21, 29);
    margin: 0;
}

a{
    text-decoration: none;
}

nav{
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: center;
}

nav .logobox{
    vertical-align: center;
    box-sizing: border-box;
    height: 100%;
}

nav .logo{
    width: 85px;
    height: auto;
    vertical-align: middle;
}

.topleft{
    float: left;
}

.topright{
    float: right;
}

nav ul{
    list-style: none;
    padding: 30px 20px;
}

nav ul li{
    display: inline-block;
    }


/* HEADER */
header{
    width: 100%;
    height: 40%;
    margin-top: 100px;
}

.box{
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding: 50px 50px;
    text-align: center;
}

.middle{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    padding: 20px 50px;
}

.projects{
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 300px;
    padding: 20px;
}

.projects a{
    color: rgba(154, 202, 211, 0.377);

}

.project{
    box-sizing: border-box;
    height: 100%;
    width: 100%;    
    border-radius: 10px;
    border: 3px solid rgb(40, 68, 78);
    box-shadow: 0 0 15px 3px;
}

#p1{
    background-image: url("../img/thebreaker.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}    
        
}




/* BREAKPOINT 3 */
@media screen and (min-width: 1170px){

/* FONTS */
h1{
    color: rgb(182, 215, 221);
    font-family: Courier New, Courier, monospace;
    font-weight: normal;
    font-size: 50px;
    margin: 0 0 15px;
}

h1.space{
    font-size: 35px;    
    margin: 0 0 15px 120px;
}

h2{
    color: rgb(182, 215, 221);
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-size: 20px;
    margin: 0;
}

body{
    background: rgb(14, 21, 29);
    margin: 0;
}

a{
    text-decoration: none;
}

nav{
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: inline-block;
    text-align: center;
}

nav .logobox{
    vertical-align: center;
    box-sizing: border-box;
    height: 100%;
}

nav .logo{
    width: 85px;
    height: auto;
    vertical-align: middle;
}

.topleft{
    float: left;
}

.topright{
    float: right;
}

nav ul{
    list-style: none;
    padding: 30px 40px;
}

nav ul li{
    display: inline-block;
    padding: 0 20px;
    }


/* HEADER */
header{
    width: 100%;
    height: 40%;
    margin-top: 100px;
}

.box{
    box-sizing: border-box;
    width:100%;
    height:100%;
    padding: 50px 50px;
    text-align: center;
}

.middle{
    box-sizing: border-box;
    width: 100%;
    height: 500px;
    padding: 20px 50px;
}

.projects{
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    height: 300px;
    padding: 20px;
}

.projects a{
    color: rgba(154, 202, 211, 0.377);

}

.project{
    box-sizing: border-box;
    height: 100%;
    width: 100%;    
    border-radius: 10px;
    border: 3px solid rgb(40, 68, 78);
    box-shadow: 0 0 15px 3px;
}

#p1{
    background-image: url("../img/thebreaker.jpg");
    box-sizing: border-box;
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
}
}